@charset "UTF-8";
.container {
	font-family: 'Noto Sans KR';
}
.row {
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    margin-bottom: 100px;
    justify-content: space-evenly;
}
}

.row .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 60px !important;
}

.row .col-lg-3 p {
    margin-top: 40px !important;
}

.row .col-lg-2 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.row .col-lg-2 p {
    margin-top: 40px !important;
}

.row .col-lg-10 {
    margin-left: 40px;
    margin-top: 40px !important;
}

.row .col-lg-10 p {
    margin-left: 10px;
    margin-top: 40px !important;
}

#photoImg {
	max-width: 75px;
}

#myPage {
	margin-top: 20px;
	margin-bottom: 20px;
}

#myPage h3 {
    margin-bottom: 75px;
    font-size: 25px;
    color: #1c3316;
}

#myPageTbl {
	text-align: center;
	vertical-align: middle;
	
}
#myPageTbl a {
	text-decoration: none;
	color: gray;
}
#myPageTbl th{
	
	background-color: #f4f1e9;
}
#myPageTbl input {
	color: #b0d282; 
}
#myPageTbl button{
	padding:5px;
	border-radius: 10px;
	background-color:#b0d282;
	border:none;
	color: white;
}

.button_view {
	padding:5px;
	border-radius: 10px;
	margin-left:15px;
	background-color:#b0d282;
	border:none;
	color: white;
}

.button_view2 {
	padding:5px;
	border-radius: 10px;
	float: right;
    margin-right: 30px;
	background-color:#b0d282;
	border:none;
	color: white;
}

.btn {
	color: #fff !important;
    background-color: #a6d377 !important;
    box-shadow: 4px 5px 1px #376b1061 !important;
     border: none !important;
}
.btn-secondary{
	color: #fff !important;
    background-color: #a6d377 !important;
    box-shadow: 4px 5px 1px #376b1061 !important;
    border: none !important;
}