@charset "UTF-8";
body{
   margin: 0 ;
}
header {
   /* background-image: url('/img/headerImage.png');
   background-repeat: no-repeat;
   background-size: cover;
   */
   display: flex;
   margin: 0 auto;
   
   background-size: 40px, 120px, 40px 40px, 120px 120px;
    background-image: linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(#ffffff 2px, transparent 2px),linear-gradient(#ffffff 2px, transparent 2px),  linear-gradient(#ffffff 2px, transparent 2px),linear-gradient(#ffffff 2px, transparent 2px);
    height: 240px;
    width: 100%;
    background-color: #a6d377;
}
STYLE
.header_category ::before{ /* 아무것도 안할때 설정잡기 */
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}

header .header_category {
   /* background-color: rgba(255,0,0,0.2); */
   width:10%;
   height: 100%;
   z-index: 3;

}

.header_category  #header_category_button{
    width:32px;
	margin-left:11%;
	margin-top: 10%;
	cursor: pointer;
   
}

.dropdown_category_content {
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 6px 7px 4px #61784f91;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
    
}
.header_category ul { /* 메뉴클래스의 ul태그 설정 */
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_category_button:hover .dropdown_category_content {
	display: block;
}

.header_category a:hover { /* a태그 설정한 애 위에 마우스 올렷을때 */
    background-color: #5d6d68;
    color: #f4f1e9;
    border-radius: 7px;
    cursor: pointer;
    padding-bottom: 30px;
}

.header_category ul li:hover { /* ul li 태그 설정한 애 위에 마우스 올렷을때 */
    background-color: #000;
    height: 25px;
    color: #a6d377;
    border-radius: 7px;
    cursor: pointer;

}

.dropdown_category_content div { /* 텍스트 위치 지정 */
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px; /* 패딩 20p로 축소 */
} 

.header_category a, .header_category > label { /* 메뉴클래스의 a, label태그 설정 */
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}


header .header_middle{
   width:75%;
   height: 100%;
   display: inline-block;
}
.header_middle #logo_img{
   margin-top :20px;
   width:15%;
   align-items: center;
   max-width: 170px;
   min-width: 100px
}
.header_middle .header_middle_searchbar {
   
    margin-top: 1%;
    height: 30px;
}
.header_middle .header_middle_img{
   text-align: center;
}

.header_middle #searchbar{
   border : 2px solid  black;
   border-radius : 20px 20px;
   float: right;
   margin-right: 3%;

    box-shadow: 6px 7px 4px #376b1091;
    width: 500px;
    height: 30px;
   
}
#search_img {
   width: 5px;
    height: 5px;
}

header .header_login{
	width: 15%;
	height: 100%;
	display: flex;
	margin-top: 8px;
	margin-right: 20px;
	justify-content: space-evenly;
}
.header_login #login_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 100%;
}
.header_login #logout_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 100%;
}
.header_login #mypage_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 100%;
}
.header_login #join_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    width: 100%;
}


input {
	height: 1.8em;
	width: 220px;
	padding: 0 10px;
	
	outline: none;
	border: none;
	color: #5d6d68;
	border-bottom: 1px solid #030303;
	display: block;
}

::placeholder {
	color: gray;
	float: left;
	letter-spacing: 0.5px;
}
#recommend {
	margin-top: 1px;
	position: absolute;
	background: white;
	padding: 0 10px;
}

.item {
	height: 1.8em;
	width: 220px;
	outline: none;
	padding-bottom: 2px;
	padding-top: 2px;
}

.item:hover {
	color: #5d6d68;
	padding: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.text {
	font-weight: bold;
}
#category_title {
	font-family: 'Noto Sans KR';
	font-size: 16pt;
	font-weight: bold;
	color: #5d6d68;
}

.header_middle_img#logo_img{
	width:50px;
}
#shoppingcartimg{
	width: 48px;
	margin-top: -4px;
}

.header_category_button_login:hover .dropdown_category_content2{
	display: block;
}
.dropdown_category_content2{
	display: none;
	position: absolute;
	background-color: #F2F2F2;
	color: #000;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: -2px 8px 7px #61784f91;
	overflow: hidden; /* 반응형 애니메이션용 */
	transition: all 0.5s ease; /* 반응형 애니메이션 */
	right: 0;
	height: 185px;
}
.header_category_button_login a, .header_category_button_login > label { /* 메뉴클래스의 a, label태그 설정 */
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.header_category_button_login ul { /* 메뉴클래스의 ul태그 설정 */
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_category_button_login a:hover { /* a태그 설정한 애 위에 마우스 올렷을때 */
    background-color: #5d6d68;
    color: #f4f1e9;
    border-radius: 7px;
    cursor: pointer;
    padding-bottom: 30px;
}

.header_category_button_login ul li:hover { /* ul li 태그 설정한 애 위에 마우스 올렷을때 */
    height: 25px;
    color: #a6d377;
    border-radius: 7px;
    cursor: pointer;

}

.dropdown_category_content2 div { /* 텍스트 위치 지정 */
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px; /* 패딩 20p로 축소 */
} 

#header_category_button2{
    white-space: nowrap;
	border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
	margin-left:10%;
	margin-top: 10%;
	cursor: pointer;
	width: 100%;
}

.header_hr{
	margin: 20px 7px 3px 0;
}