@charset "UTF-8";
body{
	margin: 0 ;
}
header {
	/* background-image: url('/img/headerImage.png');
	background-repeat: no-repeat;
	background-size: cover;
	*/
	display: flex;
	margin: 0 auto;
	
	background-size: 40px, 120px, 40px 40px, 120px 120px;
    background-image: linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(#ffffff 2px, transparent 2px),linear-gradient(#ffffff 2px, transparent 2px),  linear-gradient(#ffffff 2px, transparent 2px),linear-gradient(#ffffff 2px, transparent 2px);
    height: 240px;
    width: 100%;
    background-color: #a6d377;
}
STYLE
.header_category ::before{ /* 아무것도 안할때 설정잡기 */
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}


/*
.menu {
    display: block;
    width: 200px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* 반응형 애니메이션용 
    transition: all 0.5s ease; /* 반응형 애니메이션 
}
*/
/* .menu ul { 메뉴클래스의 ul태그 설정
    list-style: none;
    margin: 0;
    padding: 0;
} */
/*
/* /* .menu a, .menu > label { /* 메뉴클래스의 a, label태그 설정 
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
} */
 /*
.menu a:hover { a태그 설정한 애 위에 마우스 올렷을때
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
} */
/*
.menu ul li:hover {/*  ul li 태그 설정한 애 위에 마우스 올렷을때 
    background-color: #a6d377;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
}*/
/*
 .menu div { 텍스트 위치 지정
    position: absolute; 절대 위치로 텍스트 고정
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px; 패딩 20p로 축소
}
 */

header .header_category {
	/* background-color: rgba(255,0,0,0.2); */
	width:10%;
	height: 100%;

}

.header_category  #header_category_button{
	margin-left:10%;
	margin-top: 10%;
	 cursor: pointer;
}
.dropdown_category_content {
	display: none;
	position: absolute;
    background-color: #F2F2F2;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
/*     overflow: visible; */
    box-shadow: 6px 7px 4px #376b1091;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
    
}
.header_category ul { /* 메뉴클래스의 ul태그 설정 */
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_category a:hover { /* a태그 설정한 애 위에 마우스 올렷을때 */
    background-color: #5d6d68;
    color: #f4f1e9;
    border-radius: 7px;
    cursor: pointer;
    padding-bottom: 30px;
}
.header_category ul li:hover {/*  ul li 태그 설정한 애 위에 마우스 올렷을때 */
    background-color: #000;
    height: 25px;
    color: #a6d377;
    border-radius: 7px;
    cursor: pointer;

}
.header_category div { /* 텍스트 위치 지정 */
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px; /* 패딩 20p로 축소*/
} 
.header_category:hover .dropdown_category_content {display: block;}

.header_category a, .header_category > label { /* 메뉴클래스의 a, label태그 설정 */
    display: block;
    height: 25px;
    padding: 8px;
    /* cursor: pointer; */
    color: #000;
    text-decoration: none;
}
header .header_middle{
	/* background-color: rgba(0,255,0,0.2); */
	width:75%;
	height: 100%;
	display: inline-block;
}
.header_middle #logo_img{
	margin-top :20px;
	width:15%;
	align-items: center;

}
.header_middle .header_middle_searchbar {
	
    margin-top: 1%;
    height: 30px;
}
.header_middle .header_middle_img{
	text-align: center;
}

.header_middle #searchbar{
	border : 2px solid  black;
	border-radius : 20px 20px;
	float: right;
	margin-right: 3%;

    box-shadow: 6px 7px 4px #376b1091;
    width: 500px;
    height: 30px;
   
}
#search_img {
	width: 5px;
    height: 5px;
}

header .header_login{
	/* background-color: rgba(0,0,255,0.2); */
	width: 15%;
	height: 100%;
/* 	display: flex; */
	
}
.header_login #login_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.header_login #logout_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.header_login #mypage_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}
.header_login #join_button {
    border: 2px solid black;
    box-shadow: 6px 7px 4px #376b1091;
    border-radius: 20px 20px;
    margin-left: 7%;
    margin-top: 5%;
    padding-left: 5px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-right: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}


input {
  height: 1.8em;
  width: 220px;
  padding: 0 10px;
 
  outline: none;
  border: none;
  color: #5d6d68;
  border-bottom: 1px solid #030303;
  display: block;
  
}

::placeholder {
	color: gray;
/* 	padding-left:3px;
	padding-bottom:5px;
	font-size: 13px; */
    float: left;
    letter-spacing: 0.5px;

}
#recommend {
	margin-top: 1px;
	position: absolute;
	background: white;
	padding: 0 10px;
}

.item {
	height: 1.8em;
	width: 220px;
	outline: none;
	padding-bottom: 2px;
	padding-top: 2px;
}

.item:hover {
	color: #5d6d68;
	padding: 2px;
}
.text {
	font-weight: bold;
}
#category_title {
	font-family: 'Noto Sans KR';
	font-size: 16pt;
	font-weight: bold;
	color: #5d6d68;
}


