@charset "UTF-8";
#coupon_evt{
	margin-top: 100px;
	margin-bottom: 20px;
	height: 80%;
}

.product_items1{
	margin-left: 50px;
	margin-right: 50px;
}
.h4, h4 {
	margin-left: 50px;
	font-weight: bold;
	font-family: 'Noto Sans KR';
}
.btn btn-primary {
	color: #fff;
    background-color: #d3dfa4; 
    border-color: #d3dfa4; 
}
#item_a{
	font-size:20px;
	text-decoration: none;
	font-weight: 1px;
	font-family: 'Noto Sans KR';
}
#item_context{
	font-size:15px;
 	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: gray;
	opacity: 0.7;
	font-family: 'Noto Sans KR';
	
}