@charset "UTF-8";

#sidebar {
	padding-top: 60px;
	font-family: 'Noto Sans KR';
}

#main{
	padding: 100px;
	font-family: 'Noto Sans KR';
}

#member h3 {
	font-size: 20px;
	color: #1c3316;
}
 
.body {
	background-color: #f4f1e9;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

h3.page-title {
    font-size: 20px;
    color: #1c3316;
}

#memberStatus h2 {
	font-size: 20px;
}

#memberStatus h4{
	font-size: 15px;
}

#seller {
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #f4f1e9;
	padding: 10px;
	border-radius: 10px;
}

 
#sellerFont{
	margin-top: 20px;
	font-size: 20px;
	color: #1c3316;
	font-weight: 1px;
}
#sellTbl {
	text-align: center;
	font-size: 15px;
}

.sellbtn {
	text-align:center;
	border: 1px solid #b0d282; 
	background-color: white;
	color: #b0d282; 
	border-radius: 10px;
	font-size: 15px;
}

#newMember {
	background-color:	#f4f1e9;
	padding: 15px;
	border-radius: 10px; 
}
#new {
	font-size: 20px;
	color: #1c3316;
	font-weight: 1px;
	float: left;	
}

#date {
	float: left;
	font-size: 15px;
	padding-top: 5px;
}

 
#newtbl {
	text-align: center;
	font-size: 15px;
}

.allnew {
	display: inline-block;
}